# Ignore Minecraft files/folders
level.dat
GameFile/
logs/

# Ignore the Python execution directory
python*/
__pycache__/

# Ignore application files/folders
.MiniCube/

settings.json
accounts.json
.salt

Data/
Meta/
Logs/

# Ignore Visual Studio Code files/folders
.vscode/
