# Ignore Minecraft files/folders
level.dat
GameFile/
logs/

# Ignore the Python execution directory
python-3.14.2-win32/

# Ignore application files/folders
debug.bat
settings.json
__pycache__/
Data/
