# Ignore Minecraft files/folders
level.dat
logs/

# Ignore the Python execution directory
python*/
__pycache__/

# Ignore application files/folders
.MiniCube/

settings.json
accounts.json
.salt

GameFile/
Data/
Meta/
Logs/